<template>
    <div class="">
        <div class="Polaris-Tabs__Panel" id="all-customers-content" role="tabpanel" aria-labelledby="all-customers"
             tabindex="-1">
            <div class="Polaris-Card__Section">
                <div class="Polaris-Layout home-code-info">
                    <div class="created-code-main">
                        <div class="created-code-main-inner">
                            <div class="created-code-top">
                                <h4>Add new item</h4>
                                <button type="button" class="Polaris-Button Polaris-Button--primary"
                                        @click="sendForm()"><span
                                    class="Polaris-Button__Content"><span
                                    class="Polaris-Button__Text">Save</span></span></button>
                            </div>
                            <div class="Polaris-Layout">
                                <div class="Polaris-Layout__Section">

                                    <!--                                    title and codes-->
                                    <div class="Polaris-Card">
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Delivery Date</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <div class="created-code-form-main">
                                                <!--                                                title-->
                                                <div class="Unique-code-form-group">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label">
                                                            <label id="PolarisTextField6Label" for="title"
                                                                   class="Polaris-Label__Text">Title</label>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <div
                                                            class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                                <input id="title" class="Polaris-TextField__Input"
                                                                       type="text"
                                                                       aria-describedby="PolarisTextField6HelpText"
                                                                       aria-labelledby="PolarisTextField6Label"
                                                                       aria-invalid="false" aria-multiline="false"
                                                                       placeholder="2020 Semi-annual sale"
                                                                       v-model="form.title"
                                                                >
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <error-msg v-if="errors['data.title']" :msg="errors['data.title'][0]"></error-msg>

                                                </div>
                                            </div>

                                            <!--                                    min - max days-->

                                            <!--                                            select and add country-->
                                            <div class="Unique-code-form-group">
                                                <div class="Polaris-Select">
                                                    <select id="country" class="Polaris-Select__Input"
                                                            aria-invalid="false" @click="addCountry($event)">
                                                        <option v-for="(country, index, i) in countries" :value="index">
                                                            {{ country }}
                                                        </option>
                                                    </select>
                                                    <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                        class="Polaris-Select__SelectedOption">Add Country</span><span
                                                        class="Polaris-Select__Icon"><span class="Polaris-Icon">
                                                        <svg
                                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                        aria-hidden="true">
                                                    <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                                     </svg>
                                                    </span></span></div>
                                                    <div class="Polaris-Select__Backdrop"></div>
                                                </div>
                                            </div>
                                            <div class="Unique-code-form-group country-min-max"
                                                 v-for="(fc, fcindex, i) in form.countries">
                                                <div class="Polaris-Labelled__LabelWrapper">
                                                    <div class="Polaris-Label">
                                                        <label id="PolarisSelect2Label" class="Polaris-Label__Text">{{ fcindex}}</label></div>
                                                </div>
                                                <div class="layout-field-main mb-5">
                                                    <div class="layout-field-main-inner">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label">
                                                                <label id="total_codesID" for="total_codes"
                                                                       class="Polaris-Label__Text">Min days</label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Connected">
                                                            <div
                                                                class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div
                                                                    class="Polaris-TextField Polaris-TextField--hasValue">
                                                                    <input id="total_codes"
                                                                           class="Polaris-TextField__Input"
                                                                           type="number"
                                                                           aria-labelledby="PolarisTextField14Label PolarisTextField14Prefix"
                                                                           aria-invalid="false"
                                                                           aria-multiline="false"
                                                                    >
                                                                    <div class="Polaris-TextField__Spinner"
                                                                         aria-hidden="true">
                                                                        <div role="button"
                                                                             class="Polaris-TextField__Segment"
                                                                             tabindex="-1"
                                                                        >
                                                                            <div
                                                                                class="Polaris-TextField__SpinnerIcon">
                                                                                                 <span
                                                                                                     class="Polaris-Icon">
                                                                                                    <svg
                                                                                                        viewBox="0 0 20 20"
                                                                                                        class="Polaris-Icon__Svg"
                                                                                                        focusable="false"
                                                                                                        aria-hidden="true">
                                                                                                       <path
                                                                                                           d="M15 12l-5-5-5 5z"></path>
                                                                                                    </svg>
                                                                                                 </span>
                                                                            </div>
                                                                        </div>
                                                                        <div role="button"
                                                                             class="Polaris-TextField__Segment"
                                                                             tabindex="-1"
                                                                        >
                                                                            <div
                                                                                class="Polaris-TextField__SpinnerIcon">
                                                                                                 <span
                                                                                                     class="Polaris-Icon">
                                                                                                    <svg
                                                                                                        viewBox="0 0 20 20"
                                                                                                        class="Polaris-Icon__Svg"
                                                                                                        focusable="false"
                                                                                                        aria-hidden="true">
                                                                                                       <path
                                                                                                           d="M5 8l5 5 5-5z"
                                                                                                           fill-rule="evenodd"></path>
                                                                                                    </svg>
                                                                                                 </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                </div>
                                                                <!--                                                            <error-msg-->
                                                                <!--                                                                v-if="errors['data.code_details.total_codes']"-->
                                                                <!--                                                                :msg="errors['data.code_details.total_codes'][0]"></error-msg>-->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="layout-field-main-inner">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label">
                                                                <label id="max-days" for="total_codes"
                                                                       class="Polaris-Label__Text">Max days</label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Connected">
                                                            <div
                                                                class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div
                                                                    class="Polaris-TextField Polaris-TextField--hasValue">
                                                                    <input id="max-days-input"
                                                                           class="Polaris-TextField__Input"
                                                                           type="number"
                                                                           aria-labelledby="PolarisTextField14Label PolarisTextField14Prefix"
                                                                           aria-invalid="false"
                                                                           aria-multiline="false"
                                                                    >
                                                                    <div class="Polaris-TextField__Spinner"
                                                                         aria-hidden="true">
                                                                        <div role="button"
                                                                             class="Polaris-TextField__Segment"
                                                                             tabindex="-1"
                                                                        >
                                                                            <div
                                                                                class="Polaris-TextField__SpinnerIcon">
                                                                                                 <span
                                                                                                     class="Polaris-Icon">
                                                                                                    <svg
                                                                                                        viewBox="0 0 20 20"
                                                                                                        class="Polaris-Icon__Svg"
                                                                                                        focusable="false"
                                                                                                        aria-hidden="true">
                                                                                                       <path
                                                                                                           d="M15 12l-5-5-5 5z"></path>
                                                                                                    </svg>
                                                                                                 </span>
                                                                            </div>
                                                                        </div>
                                                                        <div role="button"
                                                                             class="Polaris-TextField__Segment"
                                                                             tabindex="-1"
                                                                        >
                                                                            <div
                                                                                class="Polaris-TextField__SpinnerIcon">
                                                                                                 <span
                                                                                                     class="Polaris-Icon">
                                                                                                    <svg
                                                                                                        viewBox="0 0 20 20"
                                                                                                        class="Polaris-Icon__Svg"
                                                                                                        focusable="false"
                                                                                                        aria-hidden="true">
                                                                                                       <path
                                                                                                           d="M5 8l5 5 5-5z"
                                                                                                           fill-rule="evenodd"></path>
                                                                                                    </svg>
                                                                                                 </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                                </div>
                                                                <!--                                                            <error-msg-->
                                                                <!--                                                                v-if="errors['data.code_details.total_codes']"-->
                                                                <!--                                                                :msg="errors['data.code_details.total_codes'][0]"></error-msg>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-if="fcindex != 'Rest of World'" class="delete_icon_svg" @click="updateForm('remove', 'country', fcindex)">
                                                    <i class="fas fa-trash"></i>
<!--                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">-->
<!--                                                        <path fill-rule="evenodd"-->
<!--                                                              d="M14 4h3a1 1 0 011 1v1H2V5a1 1 0 011-1h3V1.5A1.5 1.5 0 017.5 0h5A1.5 1.5 0 0114 1.5V4zM8 2v2h4V2H8zM3 8h14v10.5a1.5 1.5 0 01-1.5 1.5h-11A1.5 1.5 0 013 18.5V8zm4 3H5v6h2v-6zm4 0H9v6h2v-6zm2 0h2v6h-2v-6z"-->
<!--                                                              fill="#5C5F62"/>-->
<!--                                                    </svg>-->
                                                </div>
                                            </div>

                                            <!--                                            working days-->
                                            <div class="Unique-code-form-group">
                                                <div class="">
                                                    <div class="Polaris-Labelled__LabelWrapper">
                                                        <div class="Polaris-Label">
                                                            <label id="working-days" for="total_codes"
                                                                   class="Polaris-Label__Text">Working Days of the
                                                                Week</label></div>
                                                    </div>
                                                    <div class="Polaris-Connected">
                                                        <div class="Polaris-FormLayout__Item"
                                                             v-for="(day, index) in days"
                                                             :key="index">
                                                            <label class="Polaris-Choice"
                                                                   :for="`PolarisCheckbox` + index"><span
                                                                class="Polaris-Choice__Control"><span
                                                                class="Polaris-Checkbox">
                                                                <input :id="`PolarisCheckbox` + index" type="checkbox"
                                                                       class="Polaris-Checkbox__Input"
                                                                       aria-invalid="false" role="checkbox"
                                                                       aria-checked="false"
                                                                       v-model="form.working_days[index]">
                                                                <span class="Polaris-Checkbox__Backdrop"></span><span
                                                                class="Polaris-Checkbox__Icon"><span
                                                                class="Polaris-Icon"><svg viewBox="0 0 20 20"
                                                                                          class="Polaris-Icon__Svg"
                                                                                          focusable="false"
                                                                                          aria-hidden="true">
              <path
                  d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
            </svg></span></span></span></span><span class="Polaris-Choice__Label">{{ day }}</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                                    applies to-->
                                    <div class="Polaris-Card">
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Applies to</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <div class="created-code-form-main">
                                                <div class="Unique-code-form-group">
                                                    <div class="Polaris-Stack Polaris-Stack--vertical">
                                                        <div class="Polaris-Stack__Item">
                                                            <div>
                                                                <label class="Polaris-Choice" for="all-products"><span
                                                                    class="Polaris-Choice__Control"><span
                                                                    class="Polaris-RadioButton">
                                                                    <input id="all-products" name="applies_to"
                                                                           type="radio"
                                                                           class="Polaris-RadioButton__Input"
                                                                           aria-describedby="disabledHelpText"
                                                                           value="all_products"
                                                                           v-model="form.applies_to"
                                                                    ><span
                                                                    class="Polaris-RadioButton__Backdrop"></span><span
                                                                    class="Polaris-RadioButton__Icon"></span></span></span><span
                                                                    class="Polaris-Choice__Label">All Products</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <div>
                                                                <label class="Polaris-Choice"
                                                                       for="specific-product"><span
                                                                    class="Polaris-Choice__Control"><span
                                                                    class="Polaris-RadioButton"><input
                                                                    id="specific-product" name="applies_to" type="radio"
                                                                    class="Polaris-RadioButton__Input"
                                                                    v-model="form.applies_to"
                                                                    aria-describedby="disabledHelpText"
                                                                    value="specific_product"
                                                                ><span
                                                                    class="Polaris-RadioButton__Backdrop"></span><span
                                                                    class="Polaris-RadioButton__Icon"></span></span></span><span
                                                                    class="Polaris-Choice__Label">Specific Products </span>
                                                                    <span
                                                                        class="Polaris-Choice__Label text-capitalize ml-10"
                                                                        v-if="form.applies_to == 'specific_product'">
                                                                        <a style="cursor:pointer;color:blue;text-decoration:none;"
                                                                           @click="openPicker('product')">Select </a>
                                                                    </span>
                                                                </label>
                                                                <error-msg v-if="form.applies_to == 'specific_product' && errors['data.specific_product']"
                                                                           :msg="errors['data.specific_product'][0]"></error-msg>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <div>
                                                                <label class="Polaris-Choice"
                                                                       for="specific-Collection">
                                                                    <span class="Polaris-Choice__Control">
                                                                        <span class="Polaris-RadioButton">
                                                                            <input id="specific-Collection"
                                                                                   name="applies_to"
                                                                                   type="radio"
                                                                                   class="Polaris-RadioButton__Input"
                                                                                   aria-describedby="disabledHelpText"
                                                                                   value="specific_collection"
                                                                                   v-model="form.applies_to">
                                                                    <span class="Polaris-RadioButton__Backdrop"></span>
                                                                        <span class="Polaris-RadioButton__Icon"></span></span></span><span
                                                                    class="Polaris-Choice__Label">Specific Collections</span>
                                                                    <span
                                                                        class="Polaris-Choice__Label text-capitalize ml-10"
                                                                        v-if="form.applies_to == 'specific_collection'"><a
                                                                        style="cursor:pointer;color:blue;text-decoration:none;"
                                                                        @click="openPicker('collection')">Select </a> </span>
                                                                </label>
                                                                <error-msg v-if="form.applies_to == 'specific_collection' && errors['data.specific_collection']" :msg="errors['data.specific_collection'][0]"></error-msg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                         specific product and collection table-->
                                            <div class="unique-code-table"
                                                 v-if="(form.applies_to === 'specific_product' || form.applies_to === 'specific_collection') && form[`${form.applies_to}`].length > 0">
                                                <div class="Polaris-DataTable">
                                                    <div class="Polaris-DataTable__ScrollContainer">
                                                        <div class="unique-code-table-title">
                                                            <h3> {{
                                                                    (form.applies_to === 'specific_product') ? 'Products' : 'Collections'
                                                                }} </h3>
                                                        </div>
                                                        <table class="Polaris-DataTable__Table">
                                                            <thead>
                                                            <tr>
                                                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--total"
                                                                    scope="row">Image
                                                                </td>
                                                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total">
                                                                    Title
                                                                </td>
                                                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--total">
                                                                    Actions
                                                                </td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="Polaris-DataTable__TableRow"
                                                                v-for="( item, index ) in form[`${form.applies_to}`]"
                                                                :key="index">
                                                                <td class="Polaris-DataTable__Cell"
                                                                    scope="row">
                                                                        <span
                                                                            class="ml-10 mr-10 Polaris-Avatar Polaris-Avatar--styleSix Polaris-Avatar--sizeMedium Polaris-Avatar--hasImage border-radius-0">
                                                                            <img :src=item.image alt="" role="presentation" class="Polaris-Avatar__Image border-radius-0"></span>
                                                                <td class="Polaris-DataTable__Cell"
                                                                    scope="row"><span
                                                                    class="word-wrap">{{ item.title }}</span></td>

                                                                <td class="Polaris-DataTable__Cell">
                                                                    <div
                                                                        class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented"
                                                                        data-buttongroup-segmented="true">
                                                                        <div class="Polaris-ButtonGroup__Item"><a
                                                                            class="cur-pointer"
                                                                            @click="updateForm('remove', 'appliesTo', index)"><span
                                                                            class="Polaris-Button__Content"><span
                                                                            class="Polaris-Button__Text">
                                                                           <i class="fas fa-trash"></i>
                                                                            </span></span></a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--                                    free delivery text-->
                                    <div class="Polaris-Card">
                                        <div class="Polaris-Card__Header">
                                            <h2 class="Polaris-Heading">Free delivery text</h2>
                                        </div>
                                        <div class="Polaris-Card__Section">
                                            <div class="created-code-form-main">
                                                <div class="Polaris-Connected">
                                                    <div
                                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                                            <input id="free-delivery_text"
                                                                   class="Polaris-TextField__Input"
                                                                   type="text"
                                                                   aria-describedby="PolarisTextField6HelpText"
                                                                   aria-labelledby="PolarisTextField6Label"
                                                                   aria-invalid="false" aria-multiline="false"
                                                                   placeholder="2020 Semi-annual sale"
                                                                   v-model="form.delivery_text"
                                                            >
                                                            <div class="Polaris-TextField__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import instance from "../../../axios";
import helper from "../../../helper";
import {ResourcePicker} from '@shopify/app-bridge/actions';
import ErrorMsg from "../../shopify/ErrorMsg";

export default {
    name: "CreateDate",
    components: {
        ErrorMsg,
    },
    data() {
        return {
            days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            form: {
                id: '',
                title: '',
                countries: {
                    "Rest of World": ['', ''],
                },
                working_days: [true, true, true, true, true, true, false],
                applies_to: 'all_products',
                delivery_text: 'Free Delivery',
                resources: [],
                specific_product: [],
                specific_collection: [],
            },
            countries: [],
            errors: []
        }
    },
    methods: {
        async getData() {
            let base = this;
            helper.startLoading();

            await instance.get('')
                .then(res => {
                    base.form = res.data.data;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async getCountry() {
            let base = this;
            helper.startLoading();

            await instance.get('get-country')
                .then(res => {
                    base.countries = res.data.data.countries;
                    setTimeout(function(){
                        document.getElementById("country").options[0].disabled = true;
                    }, 500);

                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        updatestate() {
            let title = this.form.title;
            this.form.title = (this.form.title == '') ? '111' : '';
            this.form.title = title;
        },
        addCountry(e) {
            let sc = e.target[e.target.selectedIndex].innerText;
            sc = sc.replace(/\s/g,"");
            this.form.countries[sc] = ['', ''];
            document.getElementById("country").options[e.target.selectedIndex].disabled = true;
            this.updatestate();
        },
        updateForm(action, type, index) {
            if (type === 'appliesTo') {
                this.form[`${this.form.applies_to}`].splice(index, 1);
            }else if (type === 'country') {
                delete this.form.countries[index];
                index = index.replace(/\s/g,"");
                let c = this.countries;
                Object.keys(this.countries).filter(function(key, i) {
                    let value = c[key].replace(/ /g,"");
                    if( value == index ){
                        document.getElementById("country").options[i].disabled = false;
                        return;
                    }
                })
                this.updatestate();
            }
        },
        openPicker(resource_name) {
            let base = this;
            let rts = (resource_name === 'product') ? 'Product' : 'Collection';
            let res = base.form.applies_to;

            var option = '';
            if (resource_name === 'products') {
                option = "showVariants: false";

            } else {
                option = "initialQuery: initialQuery";
            }
            const picker = ResourcePicker.create(shopify_app_bridge, {
                resourceType: resource_name,
                options: {
                    showVariants: false,
                }
            });
            picker.dispatch(ResourcePicker.Action.OPEN);
            picker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                selection.forEach(function (value, index) {
                    let resource = {};

                    let resource_id = (value.id.length > 0) ? value.id.replace("gid://shopify/" + rts + "/", "") : '';
                    let handle = (value.handle.length > 0) ? value.handle : '';
                    let title = (value.title.length > 0) ? value.title : '';

                    let image = '';
                    if (base.form.applies_to === 'specific_product') {
                        image = (value.images.length > 0) ? value.images[0].originalSrc : '/images/static/no-image-box.png';
                    } else {
                        image = (typeof value.image != 'undefined') ? value.image.originalSrc : '/images/static/no-image-box.png';
                    }

                    resource = {
                        resource_id: resource_id,
                        image: image,
                        handle: handle,
                        title: title,
                    }
                    if (base.form[`${res}`].length > 0) {
                        let result = _.find(base.form[`${res}`], function (o) {
                            return o.resource_id === resource_id;
                        });

                        if (typeof result == "undefined") {
                            base.form[`${res}`].push(resource);
                        }
                    } else {
                        base.form[`${res}`].push(resource);
                    }
                });
            });
        },
        async sendForm() {
            helper.startLoading();
            let base = this;
            await instance.post('/delivery-date', {data: this.form})
                .then(res => {
                    base.errors = [];
                    helper.successToast(res.data.data);
                })
                .catch(err => {
                    base.errors = err.response.data;
                })
                .finally(res => {
                });
        },
    },
    mounted() {
        (this.form.id === '') ? this.getCountry() : this.getData();
    }
}
</script>

<style scoped>

</style>
