<template>
    <div class="">
        <menus></menus>
        <div id="Polaris-Main" class="Polaris-Page">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import Menus from './menu';
import helper from "../../helper";

export default {
    components: {
        Menus
    },
    data() {
        return{

        }
    },
    methods: {
    },
    created(){
    }
};
</script>
